[Unit]
Description=DevOpsFetch Service
After=network.target

[Service]
ExecStart=/usr/local/bin/devopsfetch -h
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=devopsfetch