[Unit]
Description=DevOpsFetch Service
After=network.target

[Service]
ExecStart=/usr/local/bin/devopsfetch
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=devopsfetch

[Install]
WantedBy=multi-user.target
